.columnContainer {
  width: min-content;
}

.columnTitleBlock {
  display: flex;
  column-gap: 10px;
  width: min-content;
}

.columnTitle {
  font-family: Roboto;
  font-weight: 500;
  font-size: 11px;
  line-height: 100%;
  color: #999999;
  width: min-content;
  cursor: pointer;
}

.arrow {
  display: flex;
  align-items: center;
}

.down {
  transform: rotate(180deg);
}

.hidden {
  visibility: hidden;
}
