.emptyData {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 37px;
}

.emptyDataText {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: rgba(34, 34, 34, 1);
  height: 70px;
  align-content: center;
}

.relativeContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  display: flex;
  top: 14px;
  left: 10px;
  padding-right: 24px;
}

.searchIcon {
  height: 0px;
  border: none;
  background: none;
  cursor: default;
  padding: 0px 4px;
}

.input {
  border: 1px solid #ebebeb;
  border-radius: 15px;
  height: 45px;
  width: 100%;
  padding-left: 40px;
  padding-right: 80px;
  margin-bottom: 30px;

  font-family: Roboto;
  font-size: 14px;
}

.input::placeholder {
  font-family: Roboto;
  font-size: 14px;
  line-height: 100%;
  color: #d1d1d1;
}

.input:focus-visible {
  outline: none;
}

.counter {
  position: relative;
  top: 2px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  height: 0px;
  color: rgba(209, 209, 209, 1);
}

.tableContainer {
  display: flex;
  flex-direction: column;
}

.siteColumn {
  min-width: 110px;
  padding-right: 12px;
}

.table {
  text-align: left;
  border-collapse: separate;
  border-spacing: 0 5px;
}

.table tr {
  border-radius: 3px;
}

.table th {
  padding-left: 10px;
}

.table td {
  padding-left: 10px;
}

.table th:first-child {
  padding-left: 19px;
}

.table td:first-child {
  padding-left: 15px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 50%;
}

.table td:nth-child(4) {
  width: 0px;
}

.table td:last-child {
  justify-items: end;
  padding-left: 60px;
  padding-right: 12px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 0px;
}
