.container {
  height: 70px;
  width: 100%;
  background: #ffffff;
  cursor: pointer;
}

.container:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15)
}

.container * {
  white-space: nowrap;
}

.container td {
  align-content: center;
}

.container td {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #5c5c5c;
  align-content: center;
}

.container td:first-child {
  font-weight: 500;
  font-size: 13px;
  color: #474747;
}

.container td:nth-child(3) {
  font-weight: 500;
}

.lastContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}
